@import url("normalize.css");

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background-color: black;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

table {
  border-collapse: collapse;
}

table > tbody > tr > th,
table > tbody > tr > td {
  border: 1px solid white;
  padding: 0.5em 1em;
  text-align: start;
}

main {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.page {
  background-color: #141d1f;
  border: 3px solid #fff;
  width: max-content;
  margin: 50px auto;
}

header {
  text-align: center;
  padding: 0.5em;
  border-bottom: 3px double #dab655;
  margin: 0 2em;
}

b,
th {
  color: #dab655;
}

th.title {
  color: #fff;
  border-bottom: 1px dashed #dab655;
}

code {
  font-family: courier, "courer new", monospace;
  text-transform: none;
  font-weight: normal;
}

a {
  color: #dab655;
}

input[type="submit"] {
  background-color: #dab655;
  color: #141d1f;
  border: none;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}
